<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>nutrition_analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/image.css')}}">
<script src="{{url_for('static', filename='js/image.js')}}"></script>
</head>
<body>
    <img id="image_bc" src="{{ url_for('static',filename='image/image.jpg')}}">
    <div class="topnav">
        <a class="active" href="/" >Home</a>
        <a href="/image">Analyse</a>
	
    </div>
    <div id="cont">

        <form action="/predict" id="upload-file" method="post" enctype="multipart/form-data">
            <div class="label_div">
                <label for="imageUpload" class="upload-label" style="cursor: pointer">upload...
                </label></div>
            <input type="file" name="image" id="imageUpload" accept="image/*" style="display:none"  onchange="loadFile(event)">
            <img id="output" width="300">
            <button type="submit" id="submit" disabled>ANALYSE</button>
        </form>
    </div>

</body>
</html>