<!DOCTYPE html>
<html lang="en">
<head>
	<title>Website Template Design in HTML & CSS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="{{ url_for('static',filename='css/home.css')}}" rel="stylesheet">
</head>
<body >
    <img src="{{ url_for('static',filename='image/home.jpg')}}">
    <div class="topnav">
        <a class="active" href="/" >Home</a>
        <a href="/image">Analyse</a>
	<h1>AI-powered Nutrition Analyzer for Fitness Enthusiasts</h1>
         </div>
     </div>   
         <div class="app-text">
             <p>Food is essential for human life and <br>has been the concern of many
                healthcare <br>conventions. Nutritional analysis is the process of<br>
                determining the nutritional content of food.<br> It is a vital part of
                analytical chemistry that provides<br> information about the chemical
                composition, processing, <br>quality control and contamination of food. It
                ensures <br>compliance with trade and food laws.
            </p>
         </div>
     </div>
    </div>
</body>
</html>